<h1>Fast</h1> 
  <p>
Part of the complexity of designing your web presence is the fragmented nature of the devices that ultimately 
view your website. By utilizing frameworks such as bootstrap and foundation, we can expedite the process, 
reduce client cost (you) and rally around a common naming system. All our apps are responsive out of the box 
and additional customizations can be done by our consultantcy or the community at large.</p>
{{outlet}}
