<div class="page-header"> <h1>Welcome!</h1>
</div>
<p class="lead">So far so good...</p> <p>Plenty more feature to add yet.</p>

<h1>Fast</h1> 
  <p>
Part of the complexity of designing your web presence is the fragmented nature of the devices that ultimately 
view your website. By utilizing frameworks such as bootstrap and foundation, we can expedite the process, 
reduce client cost (you) and rally around a common naming system. All our apps are responsive out of the box 
and additional customizations can be done by our consultantcy or the community at large.</p>
<h1>Affordable</h1>
<p>Bootstrap by Twitter is a fantastic framework that is in just 2 short years already responsible for over 3% of the 
top websites in the world. It's simple, efficient and a community to rally around that allows significant reduction in 
overhead for rapid development of Web Applications. 
<h1>Quality</h1>
Sass, WYSIWYG editors, Video Background, Parralax, CSS3 and HTML5 all shape the flexibility of options now 
available. While we use and maintain a common framework, there are countless templates, plugins and options 
to choose from to make your site unique. 
<h1>Unified Value</h1>
Affordable Design and Superior Web Design Process Makes it all Possible. We provide a unique offering that combines Affordability, quality and Speed. We beleive affordable also includes the overall value proposition when it comes to up front cost, time invested, ongoing cost, ongoing effectiveness and time and resources required for desireable results. Our Web Design Process is what separates us from others. Not only do we rely on our freelance talent to supplement our offering, we continously commit our resources to making the most helpful, user friendly products and features. </p>
<h1>Time Savings</h1>
<p>Don't have time to evaluate hundreds of technology vendors across various disciplines? We don't blame you. There has been a Web Development void for the Small Business Owner with a budget shy of a million dollars. There's cheap website builders and High-end Consultants and rarely little value from providers in between. Until Now. We're a Unified Solution that combines useful and easy to use technology with screened local talent to help you develop your web project effectively, efficiently and extensibly. 
Transparent Partnership
We separate ourselves by shedding light on the advantages our efficiency and planning has provided us. We're proud of our software and our local experts who would service your projects. You won't find smoke & mirror 3-month timelines and inflated "Custom" costs when working with us. The real Win-Win is in the long-term partnership and trust we build.</p>
<h1>Responsive Web Applications</h1>
<p>Mobile Responsive Ruby on Rails App made with Bootstrap. Portable and free to be moved anywhere anytime. 
You don't do the building because you're not a professional web designer or technical developer/programming 
engineer. It's delivered fast. It's affordable. It's better than wasting countless hours and $$ on these "Do it yourself" 
Websites. The "doing it yourself" you need to focus on is having a larger and more affordable base of selections from 
the best professionals the world and your community has to offer.  
<h1>Complex Responsive Web App</h1>
Bootstrap by Twitter is a fantastic framework that is in just 2 short years already responsible for over 3% of the top 
websites in the world. It's simple, efficient and a community to rally around that allows significant reduction in 
overhead for rapid development of Web Applications. 
<h1>Mobile Apps Translation</h1>
Mobile Application viewer share have emerged as the dominant channel. We can translate your Web App into a 
mobile application quickly and effectively. If something more custom and comprehensive was of interest, we are 
certified IOS Xcode developers. </p>
{{outlet}}
