  <h1 style="text-align:center">We design and develop simple solutions to complex problems.
   Specializing in Ruby on Rails, Ember.js, data-driven UX/UI design, and illustration 
   – our work is as powerful as it is beautiful.</h1>
  <hr>
  <h1 style="text-align:center">Why Ember.JS & Ruby on Rails?</h1>
  <p></p>
  <hr>
  <h1 style="text-align:center">How Long To Complete My Project?</h1>
  <p></p>
  <hr>
  <h1 style="text-align:center">What Do You Charge?</h1>
  <p></p>
  <hr>
  <h1 style="text-align:center">What Makes Are Your Strengths?</h1>
  <p></p>